.rform{
    border:#e5f7f7;
    padding: 10px;
    margin:10px;
    width:auto;
    background-color: #f6f9f9;
}
.btn{
    margin-top: 50px;
    color: rgb(247, 254, 249);
    background-color: #c8199f
}
.text-align:center{
    shape-outside: margin-box;
}
