.example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
  }
  
  .main-body mat-form-field {
    width: 100%;
  }
  
  .action {
    display: flex;
    gap: 5px;
  }
  
  .table-container {
    width: 100%;
    padding: 10px;
    }
  
  td {
    margin: 20px;
    padding:30px;
    font-display: center;
  }
  
  th {
    margin: 20px;
  }
  