<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
    <form [formGroup]="ItemForm">
      <mat-form-field appearance="outline">
        <mat-label>Item Name</mat-label>
        <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let x of types" [value]="x.id">{{x.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input formControlName="price" matInput type="number" placeholder="price">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <input formControlName="image" matInput type="text" placeholder="image">
    </mat-form-field>
    </form>  

    
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="basic" mat-dialog-close>Close</button>
    <button mat-raised-button color="accent" style="margin-left: 8px;" (click)="addFood()">Save</button>
</div>
