
<div class="product-container">
    <!-- <h1>{{producttitle}}</h1> -->
    <div>
        <mat-form-field >
            <mat-select [(ngModel)]="selected" placeholder="Categories">
              <mat-option [value]="0">All</mat-option>
              <mat-option *ngFor="let x of types" [value]="x.id">{{x.name}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
<div class="product-scroll">
    <app-product *ngFor="let x of products | typefilter:selected" [product]="x" ></app-product>
   
</div>
</div>

<div class="container">
    <div class="row">
        <div class="card col-md-3"></div>
    </div>
</div>